mixin map-item(data)
  .section-map__info-item
    .section-map__info-item__num
      span=data.num
    .section-map__info-item__text=data.text

mixin firstblock-item(data)
  .firstblock__bottom-item
    .firstblock__bottom-item__image
      img(src=data.image, alt="")
    .firstblock__bottom-item__info
      .firstblock__bottom-item__title=data.title
      .firstblock__bottom-item__text=data.text

mixin smi-item(data)
  a.section-smi__item.section-smi__item--text.swiper-slide(href="#" target="_blank")
    .section-smi__item-wrapper
      .section-smi__item-info
        .section-smi__item-logo
          img.img-fluid(src=data.image, alt="")
        .section-smi__item-text=data.text
    .section-smi__item-more
      .section-smi__item-more__wrapper
        | Читать статью
        <!-- Смотреть видео -->
        span.ic-arrow

mixin reviews-item(data)
  .section-reviews__item
    .section-reviews__item--text
        .section-reviews__author
            img.section-reviews__photo(src=data.image, alt="")
            p.section-reviews__name=data.name
        p.section-reviews__review=data.text
        .section-reviews__more
            button(type="button", data-micromodal-trigger="modal-review-text") Подробнее
        .section-reviews__btns
          a.section-reviews__insta(href="#", target="_blank", rel="noopener", aria-label="Instagram")
          a.section-reviews__otzovik(href="#", target="_blank", rel="noopener", aria-label="Otzovik")
    .section-reviews__item--video